[Service]
WorkingDirectory=/srv/serialserver
ExecStart=/usr/bin/node build.min.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
Environment=NODE_ENV=production
 
[Install]
WantedBy=multi-user.target
