[Unit]
Description=Bluetooth Auth Agent
After=bluetooth.service
PartOf=bluetooth.service

[Service]
Type=simple
ExecStart=/srv/serialserver/bt-agent.sh

[Install]
WantedBy=bluetooth.target

